
.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gutter-vertical; 
        
         @include respond(tab-port) {
                margin-bottom: $gutter-vertical-small;
            }
    }

    @include respond(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix; // to prevent row from colapse (height: 0) 'cause of FLOAT prop. of child elements

    [class^="col-"] {
        float: left;
        
        &:not(:last-child) {
            margin-right: $gutter-horizontal;  
            
            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    }
    
    .col-1-of-2 {
        width: $col-1-of-2-width;
    }

    .col-1-of-3 {
        width: $col-1-of-3-width;
    }
    
    .col-2-of-3 {
        width: $col-2-of-3-width;
    }

    .col-1-of-4 {
        width: $col-1-of-4-width;
    }

    .col-2-of-4 {
        width: $col-2-of-4-width;
    }

    .col-3-of-4 {
        width: $col-3-of-4-width;
    }
}
